div.context {
    display: flex;
    flex-direction: column;
}

div.context > div.header {
    font-Size: 18pt;
    text-align: center;
    margin-bottom: 16px;
}

div.context > div.content {
    display: inline;
    width: 300px;
    margin-top: 4.8px;
    height: 1200px;
    overflow: auto;
}
