div.corpus {
    display: flex;
    flex-direction: column;
}

div.corpus > div.header {
    font-family: InaiMathi;
    font-size: 18pt;
    text-align: center;
}

div.corpus > ul {
    margin-left: .2em;
    height: 1200px;
    overflow: auto;
}

li {
    list-style-type: none;
    background: #F0F0F0;
    padding: .3em;
    margin-right: 1em;
    margin-left: -2em;
    font-family: "InaiMathi";
    width: 400px;
    overflow: 'scroll';
}

li:nth-child(odd) { background: #F8F8F8; }

li.selected {
  border: 2px solid #BE1C06;
}

li.unselected {
  border: 2px solid transparent;
}

.legend{
    font-family: "InaiMathi";
}

.footer::placeholder {
  color: var(--placeholder-color);
  font-family: "InaiMathi";
  font-size: 12pt;
  width: max-content;
}
