li {
    list-style-type: none;
    background: #F0F0F0;
    padding: .3em;
    margin-right: 1em;
    margin-left: -2em;
    font-family: "InaiMathi";
    width: 400px;
    overflow: 'scroll';
}

li:nth-child(odd) { background: #F8F8F8; }


.legend{
    font-family: "InaiMathi";
}


.footer::placeholder {
  color: var(--placeholder-color);
  font-family: "InaiMathi";
  font-size: 12pt;
  width: max-content;
}